.city_search {
  padding: 12px 12px;
  width: 100%;
  background-color: white;

}

.img {
  width: 18px;
  height: 20px;
  margin-right: 10px;
}

.name {
  color: #333;
  font-size: 12px;
}

.search {
  height: 30px;
  border-radius: 30px;
  background-color: rgb(231, 231, 231);
  margin-left: 10px;
  flex: 1;
  padding: 4px 10px;

}

.img2 {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.name2 {
  color: #999999;
  font-size: 13px;
}
